{% extends "base.html" %}
{% load blog_tags %}
{% load cache %}
{% load feeds %}

{% block content %}
{% for entry in object_list %} 
        <h1>{{ entry.name }}</h1>                                                                 
        <p>by ::[<a href="#">Lasko</a>]:: -- {{ entry.modified }}</p>

	<p>{{ entry.data|render|safe }} <br/>Read More :: [<a href="{{ entry.get_absolute_url }}">{{ entry.name }}</a>]
        {% if user.is_authenticated %}
            -- :: [<a href="{% url blog_edit entry.slug %}"><b>Edit</b></a>] [<a href="{% url blog_delete entry.slug %}"><b>Delete</b></a>]:: --
        {% endif %}
        </p>
{% endfor %}
 {% if user.is_authenticated %}
    <p><a href="{% url blog_add %}">Add Entry</a></p>
 {% endif %}

<div class="navbox" id="rssplug">
    <h3>Django RSS Feeds</h3>
    <div class="navbox-body">
        <div class="side">
          <h2>:: Schmichael.com Feeds ::</h2>
	  {% cache 3600 parsed_schmichael_feed %}
          {% parse_feed "http://blog.schmichael.com/category/technology/python/feed/" as schmichael_feed %}
  	  <ul>
  	    {% for entry in schmichael_feed.entries %}
	        <li><a href="{{ entry.link }}">{{ entry.title }}</a></li>
	    {% endfor %}
	  </ul>
           {% endcache %}
	</div>

	<div class="side">
  	  <h2>:: b-list Feeds ::</h2>
	  {% cache 3600 parsed_b_list_feed %}
	  {% parse_feed "http://www.b-list.org/feeds/entries/" as b_list_feed %}
	  <ul>
	    {% for entry in b_list_feed.entries %}
	        <li><a href="{{ entry.link }}">{{ entry.title }}</a></li>
	    {% endfor %}
	  </ul>
	  {% endcache %}
	</div>
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
