{% extends "base.html" %}                                                                              
                                                                                                     
{% block content %}                                                                                    
    <h2>Entries Index</h2>                                                                                   
    <ul>                                                                                               
        {% for entry in object_list %}                                                                     
        <li>{{ entry.name }} :: [<a href="{% url blog_view entry.pk %}">View</a>] [<a href="{% url blog_edit entry.pk %}">Edit</a>] [<a href="{% url blog_delete entry.pk %}">Delete</a>]::</li>                                                                  
        {% endfor %}                                                                                   
    </ul>                                                                                              
    <a href="{% url blog_add %}">Add New Entry</a>
{% endblock %}
