<!DOCTYPE HTML>
<html>

<head>
  <title>{% block title %}Django Blog{% endblock %}</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="django blog, Django, djangoproject, python" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pygments-colorful.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{% url blog_index %}">Django<span class="logo_colour">Blog</span></a></h1>
          <h2>:: nerd talk :: for nerd folk ::</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li class="selected"><a href="{% url blog_index %}">Home</a></li>
          <li><a href="http://github.com/lasko">Projects</a></li>
    	  <li><a href="#">Links</a></li>
	  <li><a href="#">Contact</a></li>
      {% if user.is_authenticated %}
	  <li><a href="#">Logged in: {{ user.username }}</a></li>
	  <li><a href="{% url auth_logout %}">Log out</a></li>
	  <li><a href="{% url auth_password_change %}">Change pass.</a></li>
      {% else %}
	  <li><a href="{% url auth_login %}">Log in</a></li>
      {% endif %}

        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h5>February 12th, 2011</h5>
        <p>2011 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>

        <h3>Useful Links</h3>
        <ul>
          <li><a href="http://www.djangoproject.com">Django</a></li>
          <li><a href="http://www,python.org">Python</a></li>
          <li><a href="http://flask.pocoo.org">Flask</a></li>
          <li><a href="http://www.pdxpython.org">PDXPython</a></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Doesn't work yet..." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="{{ STATIC_URL }}search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div>
      <div id="content">
	{% block content %}
	{% endblock %}
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="index.html">Home</a> |  <a href="http://github.com/lasko">Projects</a> | <a href="#">Links</a> | <a href="#">Contact</a></p>
      <p>Copyright &copy; Djangoblog.net 2011 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></p>
    </div>
  </div>
<div style="text-align: center; font-size: 0.75em;">Design downloaded from <a href="http://www.freewebtemplates.com/">free website templates</a>.</div></body>
</html>
